{% extends "users/profile-layout.html" %}

{% block child%}
<h4 class="header-4 user-pages-header">Counter Offers</h4>
<table class="table table-hover shadow-sm" id="counter-offer-table">
    <thead class="align-top table-header">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Product Image</th>
            <th scope="col">Listing Title</th>
            <th scope="col">Starting Price</th>
            <th scope="col">Your Offer</th>
            <th scope="col">Counter Offer</th>
            <th scope="col">Accept Offer?</th>
        </tr>
    </thead>
    <tbody>
        {% for bid in counter_offers%}
        <tr class="lead fs-6 align-middle">
            <td>{{forloop.counter}}</td>
            <td><img src="{{ bid.listing.hero_image.url }}" width="80px"></td>
            <td><a href="{% url 'view-listing' bid.listing.title%}" style="color: #2E2E2E">{{ bid.listing }}</a></td>
            <td>৳ {{ bid.listing.base_price }}</td>
            <td>৳ {{ bid.amount }}</td>
            {% if forloop.counter == 1 %}
            <td><span class="badge badge-bg-danger fs-6">Pending</span></td>
            {% else %}
            <td class="me-5">
                <span class="badge badge-bg-success fs-6">৳ {{ bid.listing.get_price}}</span>
            </td>
            {% endif %}
            <td class="me-5">
                {% if forloop.counter == 1 %}
                <div>
                    <p class="text-muted">N/A</p>
                </div>
                {% else %}
                <div class="d-flex ">
                    <button class="btn btn-success btn-sm small-custom mx-1 counter-offer-btn"
                        onClick="confirmCounterOffer()"><i class="bi bi-check-lg"></i></button>
                    <button class="btn btn-danger btn-sm small-custom mx-1 counter-offer-btn" onClick="rejectCounterOffer()"><i
                            class="bi bi-x-lg"></i></button>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock child %}