{% extends "auctions/layout.html" %}

{% block body %}

<section class="container-fluid mx-0 px-0 text-light">
    <div class="px-lg-5 px-4 context">
        {% if categoryName %}
        <h1 class="display-4">Active Listings in <strong>{{ categoryName }}</strong></h1>
        {% else %}
        <h1 class="display-4">Active Listings</h1>
        {% endif %}
        <p class="lead">Auction.com is the leading marketplace for buying and selling Electronics, Home, Fashion and Toy
            Products! Scroll through our Active Listings, Place Bids, Add your favorites to your Watchlist and
            Create your own Listing</p>
        <span class="container-fluid">
            <h3 class="mb-2 mr-2">Explore Other Categories </h3>
            <a class="btn btn-outline-light rounded-pill mr-2 my-2 {% if not categoryName %} active {% endif %}"
                href="{% url 'index' %}" role="button">All</a>
            {% for category in categories %}
            <a class="btn btn-outline-light rounded-pill mr-2 my-2 {% if categoryName == category.1 %} active {% endif %}"
                href="{% url 'categories' category.0 %}" role="button">
                {{ category.1 }}</a>
            {% endfor %}
        </span>
        <hr class="my-4">
        <div>
            <form action="{% url 'search' %}" method="POST">
                <div class="d-xl-flex d-lg-none d-md-none d-flex mb-xl-0 mb-lg-0">
                    {% csrf_token %}
                    <input class="form-control mr-3 rounded-pill" type="text" placeholder="Search Listings" aria-label="Search"
                        name="title">
                    <button type="submit" class="btn btn-outline-light btn-sm rounded-pill px-3"><i
                            class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </form>
            <ul class="list-group" id="sresults-ss" style="position: absolute; max-width: 45em;">
            </ul>
        </div>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="container-fluid">
    <div class="row my-2 mx-5">
        {% for item in listings%}
        <div class="col-12 col-xl-6 card shadow-sm p-5 mt-5 justify-content-start">
            <div class="row align-items-center">
                <div class="col">
                    <h3>{{ item.title }}</h3>
                    <p>Price: ${{item.getCurrentPrice}}</p>
                    <p>Category: <span> <a
                                href="{% url 'categories' item.category %}">{{item.get_category_display}}</a></span></p>
                    <div><span class="badge badge-pill badge-info">Bids Placed: {{ item.getBids|length }}</span></div>
                    {% if user != item.listedBy %}
                    <div class="mt-3 mb-1">
                        <form action="{% url 'bid' item.title %}" method="post" class="form-row align-items-center">
                            <div class="col-auto">
                                {% csrf_token %}
                                {{ bidForm }}
                                <small class="form-text text-muted">Bids higher than current listed price will
                                    accepted</small>
                                {% if successMessage %}
                                <div class="alert alert-success" role="alert">
                                    {{ successMessage }}
                                </div>
                                {% elif failMessage %}
                                <div class="alert alert-danger" role="alert">
                                    {{ failMessage }}
                                </div>
                                {% endif %}
                                <div>
                                    <input type="submit" class="btn btn-outline-primary rounded-pill my-1"
                                        value="Place Bid">
                                    <a class="btn btn-outline-dark rounded-pill my-1"
                                        href="{% url 'listing' item.title %}">Listing
                                        Details</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="mt-3 mb-1">
                        <a class="btn btn-outline-dark rounded-pill my-1" href="{% url 'listing' item.title %}">Listing
                            Details</a>
                        <a class="btn btn-outline-danger rounded-pill my-1" href="{% url 'close' item.title %}">Close
                            Listing</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-auto">
                    <img src="{{ item.image }}" width="300">
                </div>
            </div>
        </div>
        {% endfor %}
        {% if listings|length == 0 %}
        <h3>No Listings sorry. Come back another time</h3>
        {% endif %}
    </div>
</section>
{% endblock %}