{% extends "auctions/layout.html" %}

{% block body %}
<section class="container-fluid px-5 mt-md-5 mt-3">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-12">
            <img src="{{listing.hero_image.url }}" class="listing-hero-image card rounded listing-images">
            <div class="row justify-content-start mt-3">
                {% for image in additional_listing_images %}
                <div class="col-md-3 col-4">
                    <img src="{{image.image.url }}"
                        class="additional-listing-images listing-images card rounded img-thumbnail">
                </div>
                {% endfor %}
            </div>
            {% if listing.buying_format != 'BIN' %}
            <div class="d-block card text-center bg-warning-subtle py-2 mt-2 border-light lead fw-bold">
                <i class="bi bi-file-bar-graph-fill"></i> {{total_bids}} Bids/Offers so far
            </div>
            {% endif %}
        </div>
        <div class="col-lg-7 col-12 px-lg-5 px-0 my-lg-0 my-5 justify-content-center">
            <div class="d-block">
                <h1 class="display-4">{{listing.title}}</h1>
                <div class="d-block">
                    <p class="float-start text-muted lead">{{listing.condition}}</p>
                    {% if watchers > 0%}
                    <p class="float-end text-muted"><mark class="bg-primary-subtle rounded px-3"><i
                                class="bi bi-eyeglasses"></i>
                            {{watchers}} people are watching this.</mark>
                    </p>
                    {% endif %}
                </div>
                <br>
                <br>
            </div>
            <div class="d-block">
                <p class="lead"><strong>Description: </strong>{{listing.description}}</p>
            </div>
            <div class="d-block">
                <div class="d-flex flex-row align-items-center">
                    <strong class="lead fs-3">Price: </strong> <span class="lead fs-3">৳
                        {{listing.get_price}}</span><span class="text-muted
                    ms-3"><mark>{{listing.get_buying_format_display}}</mark></span>
                </div>
                {% if not listing.free_shipping %}
                <div class="d-block">
                    <small class="text-muted">+ shipping</small>
                </div>
                {% endif %}
            </div>
            <hr>
            <div class="d-block my-3">
                {% include 'auctions/components/listing-action-component.html' %}
                <p class="float-end text-muted fs-6 mt-sm-0 mt-2"><i class="bi bi-geo-alt-fill"></i>
                    {{listing.location}}
                </p>
            </div>
            <div class="d-block">
            </div>
        </div>
    </div>
</section>
<section class="container-fluid px-md-5 px-4 my-md-5">
    <h4 class="h4 mb-3">You may also like</h4>
    <div class="row align-items-center">
        {% for listing in similar_listings %}
        {% include 'auctions/components/listing-card-component.html' %}
        {% endfor %}
    </div>
</section>
<section class="container-fluid px-md-5 px-4 mt-md-3 mt-5">
    <h1>Comments</h1>
    <hr>
    {% if user_logged_in%}
    <h5 class="lead mt-5">Share your thoughts </h5>
    <form action="{% url 'comment' listing.title %}" method="post" class="row g-3 align-items-start">
        <div class="col-md-10 col-12">
            {% csrf_token %}
            {{ comment_form.comment }}
            <small class="form-text text-muted">Please keep comments relevant to the item or transaction, respectful in
                tone, and compliant with our site policies to ensure a positive community experience</small>
        </div>
        <div class="col-md-2 col-12">
            <button type="submit" class="btn btn-primary me-5 rounded-end"><i class="bi bi-chat-square-quote-fill"></i>
                Comment</button>
        </div>
    </form>
    <hr>
    {% endif %}
    <div class="row justify-content-center mt-3">
        {% for comment in comments%}
        <div class="col-12 py-3 border-bottom">
            <div class="d-block">
                <div class="d-inline-flex align-items-center ms-md-4 ms-0">
                    <div style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;">
                        <img src="{{ comment.user.display_picture.url }}"
                            style="height:100%; width: 100%; object-fit: cover;">
                    </div>
                    <span class="lead mx-3">{{comment.user.username}}</span>
                    <span class="text-muted small">{{comment.date}}</span>
                </div>
                <div class="d-block mt-2  ms-md-4 ms-0">
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Listing Purchase</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-start">
                <form action="{% url 'make-purchase' listing.title %}" method="post" class="align-items-center my-3">
                    <h5 class="lead">{{listing.get_buying_format_action_name}}</h5>
                    {% csrf_token %}
                    {% for field in purchase_manager.form %}
                    <div class="mb-3">
                        <label class="text-muted" for="{{field.id_for_label}}">{{field.label}}: </label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-sm "><i class="bi bi-bag-fill"></i>
                        {{listing.get_buying_format_action_name}}</button>
                </form>
                <small class="form-text text-muted"><i class="bi bi-info-circle"></i> Bids higher than current listed
                    price will accepted</small>
            </div>
            <div class="modal-footer">
                <a class="text-muted text-decoration-none"
                    href="{% url 'add_payment_method_redirect' listing.title %}"><i class="bi bi-plus"></i> <small>Add
                        Payment
                        Method</small></a>
                <a class="text-muted text-decoration-none"
                    href="{% url 'add_shipping_address_redirect' listing.title %}"><i class="bi bi-plus"></i> <small>Add
                        Shipping
                        Address</small></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% if open_modal %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
            backdrop: 'static',
            keyboard: false
        });

        myModal.show();
    });
</script>
{% endif %}

<!-- Rest of your template HTML -->

{% endblock %}