{% extends "users/profile-layout.html" %}

{% block child%}
<h4 class="header-4 user-pages-header">Ongoing Bids</h4>
<table class="table table-hover shadow-sm" id="ongoing-offers-table">
    <thead class="align-top table-header">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Product Image</th>
            <th scope="col">Listing Title</th>
            <th scope="col">Starting Price</th>
            <th scope="col">Your Offer</th>
            <th scope="col">Current Price</th>
            <th scope="col">Update Bid?</th>
        </tr>
    </thead>
    <tbody>
        {% for bid in ongoing_bids%}
        <tr class="lead fs-6 align-middle">
            <td>{{forloop.counter}}</td>
            <td><img class="rounded" src="{{ bid.listing.hero_image.url }}" width="80px"></td>
            <td><a href="{% url 'view-listing' bid.listing.title%}">{{ bid.listing }}</a></td>
            <td>৳ {{ bid.listing.base_price }}</td>
            <td>৳ {{ bid.amount }}</td>
            <td class="me-5">
                <span
                    class="badge {% if bid.amount >= bid.listing.get_current_price %}badge-bg-success{% else %}badge-bg-danger{% endif %} fs-6">৳
                    {{ bid.listing.get_price}}</span>
            </td>
            <td class="me-5">
                <div class="d-flex ">
                    <a class="btn {% if bid.amount >= bid.listing.get_current_price %}btn-dark disabled{%else%}btn-primary{% endif %} btn-sm small-custom mx-1"
                        href="{% url 'view-listing-with-bid-form' bid.listing.title %}"><i class="bi bi-receipt-cutoff"
                            href="{% url 'view-listing-with-bid-form' bid.listing.title %}"></i>
                        Outbid</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock child %}