{% extends "auctions/layout.html" %}

{% block body %}
<div class="row my-2 mx-5">

    {% if listing.active == True and winningBidder == False %}
    <div class="col-12 card shadow-sm p-5 mt-5">
        <div class="row align-items-center">
            <div class="col">
                <h3>{{ listing.title }}</h3>
                <hr>
                <h5>Description: {{ listing.description }}</h5>
                <hr>
                <h6>Details</h6>
                <hr>
                <p><strong> Starting Bid:</strong> ${{ listing.startBid }}</p>
                <p><strong>Current Price:</strong> ${{ listing.getCurrentPrice }}</p>
                <p><strong>Listed by:</strong> {{ listing.listedBy }}</p>
                <p><strong>Category:</strong> <span> <a
                            href="{% url 'categories' listing.category %}">{{listing.get_category_display}}</a></span>
                </p>
                <div><span class="badge badge-pill badge-info">Bids Placed: {{ listing.getBids|length }}</span></div>

                {% if user.is_authenticated and lister == False %}
                <div class="mt-2 mb-1">
                    <form action="{% url 'bid' listing.title %}" method="post" class="form-row align-items-center">
                        <div class="col-auto">
                            {% csrf_token %}
                            {{ bidForm }}
                            <small class="form-text text-muted">Bids higher than current listed price will
                                accepted</small>
                            {% if successMessage %}
                            <div class="alert alert-success" role="alert">
                                {{ successMessage }}
                            </div>
                            {% elif failMessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ failMessage }}
                            </div>
                            {% endif %}
                            <div>
                                <input type="submit" class="btn btn-lg btn-outline-primary rounded-pill my-1"
                                    value="Place Bid">
                                {% if watchlistAdded == False %}
                                <a class="btn btn-lg btn-outline-dark rounded-pill my-1"
                                    href="{% url 'addToWatchlist' listing.title %}">Add to Watchlist</a>
                                {% else %}
                                <div class="alert alert-success my-1" role="alert">
                                    Added to Watchlist
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                {% elif user.is_authenticated and lister == True %}
                <div class="mt-2 mb-1">
                    <a class="btn btn-lg btn-outline-danger rounded-pill my-1"
                        href="{% url 'close' listing.title %}">Close Bid</a>
                </div>
                {% endif %}
            </div>
            <div class="col-auto">
                <img src="{{ listing.image }}" width="300">
            </div>
        </div>
    </div>
    {% elif winningBidder == True and listing.active == False %}
    <div class="col-12 card shadow-sm p-5 mt-5">
        <div class="row align-items-center">
            <div class="col">
                <h3>{{ listing.title }}</h3>
                <hr>
                <h5>Description: {{ listing.description }}</h5>
                <hr>
                <h6>Details</h6>
                <hr>
                <p><strong> Starting Bid:</strong> ${{ listing.startBid }}</p>
                <p><strong>Current Price:</strong> ${{ listing.getCurrentPrice }}</p>
                <p><strong>Listed by:</strong> {{ listing.listedBy }}</p>
                <p><strong>Category:</strong> <span> <a
                            href="{% url 'categories' listing.category %}">{{listing.get_category_display}}</a></span>
                </p>
                <div><span class="badge badge-pill badge-info">Bids Placed: {{ listing.getBids|length }}</span></div>

                {% if user.is_authenticated and lister == False %}
                <div class="mt-2 mb-1">
                    <div class="alert alert-success" role="alert">
                        Congratulations you've won the auction!
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-auto">
                <img src="{{ listing.image }}" width="300">
            </div>
        </div>
    </div>
    {% else%}
    <div class="mt-2 mb-1">
        <div class="alert alert-success" role="alert">
            <h3>Listing not active anymore.</h3>
        </div>
    </div>
    {% endif %}
</div>
<div class="container-fluid p-5">
    <h3>Comments</h3>
    <hr>
    {% for comment in Comments%}
    <div class="media card p-3">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.user }}</h5>
            <small class="form-text text-muted">{{ comment.date }}</small>
            {{ comment.comment }}
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'comment' listing.title %}" method="post" class="form pt-3">
        <div class="col-auto">
            {% csrf_token %}
            {{ commentForm }}
            <small class="form-text text-muted">Comments will be visible to everyone</small>
            <div>
                <input type="submit" class="btn btn-lg btn-outline-success rounded-pill my-1" value="Comment">
            </div>
        </div>
    </form>

</div>

<div class="container-fluid px-5 pt-2">
    <hr>
    <h3 class="mt-5">Similar Products</h3>
    <div class="row my-2">
        {% for item in similarListings %}
        {% if item.active == True %}
        {% if item != listing %}
        <div class="col-6 col-xl-4 card shadow p-5 mt-5 mx-1 justify-content-start">
            <div class="row align-items-center">
                <div class="col">
                    <h4>{{ item.title }}</h4>
                    <p>Price: ${{item.getCurrentPrice}}</p>
                    <a class="btn btn-outline-dark rounded-pill my-1" href="{% url 'listing' item.title %}">Listing
                        Details</a>
                </div>
                <div class="col-auto ">
                    <img src="{{ item.image }}" width="150">
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if similarListings|length == 0 %}
        <div class="alert alert-danger" role="alert">
            No Listings sorry. Come back another time
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}