{% load static %}
<center>
    <img class="img-fluid" src="{% static 'auctions/images/search.png'%}" style="max-height: 250px;">
    <p class="lead text-start">We're sorry, but we couldn't find any listings that match your
        specific
        criteria. It's possible that there are currently no items available that meet your
        search
        parameters.<br>Consider broadening your search or adjusting the filters to discover more
        listings. If you have any specific requirements or if you need assistance, feel free to
        reach out to our support team. Thank you for using our platform!</p>
</center>