<!-- listing-card-component.html -->
<div class="col-lg-3 col-md-6 col-12 my-2">
    <a class="text-decoration-none" href="{% url 'view-listing' listing.id %}">
        <div class="card">
            <img src="{{ listing.hero_image.url }}" class="listing-hero-image" href="">
            <div class="px-3 py-2">
                <div class="mt-2">
                    <h5 class="my-0 text-truncate">{{listing.title}}</h5>
                    <p class="text-muted my-0">{{listing.condition}}</p>
                </div>
                <div class="mt-3">
                    <strong>৳{{listing.get_price}}</strong>
                    <p class="text-muted my-0">{{listing.get_buying_format_display}}</p>
                    <div class="d-block mt-3">
                        {% if listing.free_shipping %}
                        <p class="float-start text-muted fs-6"><mark>Free Shipping</mark></p>
                        {% endif %}
                        <p class="float-end text-muted fs-6"><i class="bi bi-geo-alt-fill"></i>
                            {{listing.location}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>