{% extends "users/profile-layout.html" %}

{% block child%}
<h4 class="header-4 user-pages-header">List of registered payment method:</h4>
<table class="table table-hover shadow-sm" id="shipping-address-table">
    <thead class="align-top table-header">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for method in payment_methods%}
        <tr class="lead fs-6 align-middle">
            <td>{{forloop.counter}}</td>
            <td>{{method}}</td>
            <td><a onclick="confirmPaymentMethodDelete({{ method.id }})"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary float-end mt-5" href="{% url 'add_payment_method' %}"><i class="bi bi-plus"></i> Add New
    Payment Method</a>
{% endblock child %}