{% extends "users/profile-layout.html" %}

{% block child%}
{% if payment_methods %}
<h2 class="header-2 user-pages-header">Registered Payment Methods</h2>
<table class="table table-hover shadow-sm" id="shipping-address-table">
    <thead class="align-top table-header">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for method in payment_methods%}
        <tr class="lead fs-6 align-middle">
            <td>{{forloop.counter}}</td>
            <td>{{method}}</td>
            <td><a onclick="confirmPaymentMethodDelete({{ method.id }})"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary float-end mt-5" href="{% url 'add_payment_method' %}"><i class="bi bi-plus"></i> Add New
    Payment Method</a>
{% else %}
{% load static %}
<center>
    <div class="mt-xl-5">
        <img class="img-fluid" src="{% static 'auctions/images/search.png'%}" style="max-height: 250px;">
        <p class="lead fs-6 mt-4">No Payment Methods Registered</p>
        <a class="btn btn-secondary mt-1" href="{% url 'add_payment_method' %}"><i
                class="bi bi-credit-card-2-front"></i>
            Register
            Payment Method</a>
    </div>
</center>
{% endif %}
<script>
    function confirmPaymentMethodDelete(methodId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: customDangerColor,
            cancelButtonColor: customDarkColor,
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `{% url 'remove-payment-method' 0 %}`.replace('0', methodId);
            }
        });
    }
</script>
{% endblock child %}