{% extends "users/profile-layout.html" %}
{% block child%}
{% if addresses %}
<h2 class="header-2 user-pages-header">Registered Shipping Addresses</h2>
<table class="table table-hover shadow-sm" id="shipping-address-table">
    <thead class="align-top table-header">
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for address in addresses%}
        <tr class="lead fs-6 align-middle">
            <td>{{forloop.counter}}</td>
            <td>{{address}}</td>
            <td><a onclick="confirmShippingAddressDelete({{ address.id }})"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary float-end mt-5" href="{% url 'add_shipping_address' %}"><i class="bi bi-plus"></i> Add New
    Address</a>
{% else %}
{% load static %}
<center>
    <div class="mt-xl-5">
        <img class="img-fluid" src="{% static 'auctions/images/search.png'%}" style="max-height: 250px;">
        <p class="lead fs-6 mt-4">No Shipping Address Registered</p>
        <a class="btn btn-primary mt-1" href="{% url 'add_shipping_address' %}"><i class="bi bi-map-fill"></i>
            Register Shipping Address</a>
    </div>
</center>
{% endif %}

<script>

    function confirmShippingAddressDelete(addressId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: customDangerColor,
            cancelButtonColor: customDarkColor,
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked "Yes, delete it!" - perform the deletion action
                window.location.href = `{% url 'remove-shipping-address' 0 %}`.replace('0', addressId);
            }
        });
    }

</script>
{% endblock child %}